<ftn-header imgSrc="assets/images/brand.svg"
            imgAlt="Logo empresarial"
            [button]="true"
            btnText="Contáctanos"
            btnUrl="oneurl.html" >
</ftn-header>

<main>

    <ftn-hero [tag]="true" 
              tagText="Some tag here"
              title="Important title here"
              [paragraph]="true"
              paragraphText="Some paragraph text large here"
              [button]="true" 
              btnText="hero-label"
              imgSrc="assets/images/hero-img.png"
              imgAlt="Image important">
    </ftn-hero>

    <ftn-brands></ftn-brands>
    <ftn-benefits></ftn-benefits>

</main>

<ftn-button btnLabel="button-label"></ftn-button>

<ftn-footer></ftn-footer>





<!-- la imagen si la toma pero a través del srcImage no -->
<!-- <img src="assets/images/brand.png" alt=""> -->
