<ftn-header srcImage="assets/images/brand.svg"
            altImage="Logo empresarial"
            [button]="true"
            buttonLabel="header-label"
            label="New Btn Name" >
</ftn-header>

<main>

    <ftn-hero [button]="true" buttonLabel="hero-label"></ftn-hero>
    <ftn-brands></ftn-brands>
    <ftn-benefits></ftn-benefits>

</main>

<ftn-button label="button-label" design="cta"></ftn-button>

<ftn-footer></ftn-footer>





<!-- la imagen si la toma pero a través del srcImage no -->
<!-- <img src="assets/images/brand.png" alt=""> -->
