:root{

    --header-bg: #d9ed92;
    --hero-bg: #b5e48c;
    --brands-bg: #99d98c;
    --benefits-bg: #76c893;
    --banner-bg: #52b69a;
    --contact-bg: #34a0a4;
    --footer-bg: #168aad;


    // Main Color
    --brand-color: #B2C8DF;
    --brand-color-2: #84a2c2;

    // Structure
    --header-padding:   0.5rem;
    --header-position:  fixed;
    --header-top:       0;
    --header-bg:        white;

    --hero-bg:      #b5e48c;

    --brands-bg:    #99d98c;

    --benefits-bg:  #76c893;

    --banner-bg:    #52b69a;

    --contact-bg:   #34a0a4;

    --footer-bg:    #168aad; 


    // Utilies
    --btn-padding:              .6rem 1.2rem;
    --btn-border-radius:        2rem;

    --btn-cta-bg:               var(--brand-color);
    --btn-cta-color:            white;
    --btn-cta-border:           1px solid var(--brand-color-2);
    --btn-cta-hover-bg:         var(--brand-color-2);
    --btn-cta-hover-color:      white;



    
}
